@model BeerShop.ViewModels.BreweryBeersVM

@{
    ViewData["Title"] = "GetBeerByBrewerVM";
}

<h1>GetBeerByBrewer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetBeerByBrewerVM">

            <div class="form-group">
                <label for="brouwerId" class="control-label"></label>
                <select asp-for="BreweryNumber"
                        asp-items="@Model.Breweries">
                    <option>Please select</option>
                </select>

            </div>

           @*<div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>*@
        </form>
    </div>
</div>
@if (Model.Beers != null)
{


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Beers.First().Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Beers.First().BrouwerNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Beers.First().SoortNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Beers.First().Alcohol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Beers.First().Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Beers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrouwerNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoortNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alcohol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts {
    <script>
        //document.getElementById("BreweryNumber") -> $
        //document.getElementById("BreweryNumber").addEventListener("change", () => {
        //    alert("ok");
        //    document.getElementsByTagName("Form")[0].submit();
        //});

        // oplossen via jQuery
        $("#BreweryNumber").on("change", () => {

            $("form").trigger("submit");
        });
    </script>
}